footer {
    /*border: 1px red solid;*/
    clear: both;
    display: block;
    text-align: center;
    width: 100%;
    height: 30px;
    /* min-width: 610px;  保证文字inline-block效果时不换行 */
    position:absolute;
    bottom: 0px;
    left:0px;
}

*{
    margin: 0;
    padding: 0;
    overflow : hidden;
}
